/* FONTS  */

@font-face {
    font-family: 'Inter';
    src: url('../Inter-Bold.woff2') format('woff2'),
        url('../Inter-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../Inter-Regular.woff2') format('woff2'),
        url('../Inter-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../Inter-Medium.woff2') format('woff2'),
        url('../Inter-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('../Inter-SemiBold.woff2') format('woff2'),
        url('../Inter-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



/* CUSTOM PROPS  */
:root {
    --body-bg: #f1f4ff;
    --green: #4dc490;
    --purple: #655af2;
    --red: #f03535;
    --text-color: #000;
}


/* GLOBL STYLES  */

html {
    box-sizing: border-box;
    height: 100%;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--body-bg);
    color: var(--text-color);
}

img {
    max-width: 100%;
    height: auto;
}

ul, ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* CONTAINER  */

.container {
    width: 100%;
    max-width: 1192px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto;
}

/* MAIN-CONTENT  */

.main-content {
    flex-grow: 1;
    padding-top: 80px;
    padding-bottom: 80px;
}